{% set bgpvars = bgp[ansible_hostname] -%}
{% set loopback_v4 = interfaces[ansible_hostname].lo.ipv4 -%}
{% set loopback_v6 = interfaces[ansible_hostname].lo.ipv6 -%}

{### Set the logging and save all the config in Quagga.conf file ###}
log file /var/log/quagga/quagga.log
service integrated-vtysh-config
!
{### Configure the tor ports IPv6 settings for unnumbered operation ###}
{% for interface in bgpvars.tor_ports -%}
interface {{interface}}
 no ipv6 nd suppress-ra
 ipv6 nd ra-interval 3
!
{% endfor %}
!
router bgp {{ bgpvars.asn }}
  bgp router-id {{loopback_v4|replace("/32", "")}}
  maximum-paths 64
  bgp bestpath as-path multipath-relax
{% for interface in interfaces[ansible_hostname].keys()|sort -%}
{% if interfaces[ansible_hostname][interface].ipv4 is defined %}
  network {{interfaces[ansible_hostname][interface].ipv4}}
{% endif -%}
{% endfor -%}
{### Peer group to top of rack ###}
  neighbor tors peer-group
  neighbor tors advertisement-interval 0
  neighbor tors timers 1 3
  neighbor tors timers connect 3
  neighbor tors remote-as external
  neighbor tors capability extended-nexthop
{### Configure interfaces ###}
{% for interface in bgpvars.tor_ports %}
  neighbor {{interface}} interface
  neighbor {{interface}} peer-group tors
  neighbor {{interface}} remote-as external
{% endfor -%} 
!
  address-family ipv6
{% for interface in interfaces[ansible_hostname].keys()|sort -%}
{% if interfaces[ansible_hostname][interface].ipv6 is defined %}
  network {{interfaces[ansible_hostname][interface].ipv6}}
{% endif -%}
{% endfor -%}
  neighbor tors activate
{% for interface in bgpvars.tor_ports %}
  neighbor {{interface}} peer-group tors
{% endfor -%} 
!
 exit-address-family
!
ip forwarding
!
line vty
!
end